

    <!--start header-->
    <header class="top-header">
        <nav class="navbar navbar-expand align-items-center justify-content-between gap-3">
            <div class="btn-toggle">
                <a href="#offcanvasPrimaryMenu" data-bs-toggle="offcanvas"><i
                        class="material-icons-outlined">menu</i></a>
            </div>
        
            <h2 style="color: rgb(51, 51, 220);">Digicart Ecommerce</h2>
            <ul class="navbar-nav gap-1 nav-right-links align-items-center">
               
            </ul>
        </nav>
    </header>
    <!--end top header-->

    <!--SIDE MINIBAR WITH ICONS---->

    <aside class="mini-sidebar d-flex align-items-center flex-column justify-content-between">
        <div class="user">
            <a href="#offcanvasUserDetails" data-bs-toggle="offcanvas" class="user-icon">
                <i class="material-icons-outlined">account_circle</i>
            </a>
        </div>
        <div class="quick-menu">
            <nav class="nav flex-column gap-1">
                <a class="nav-link" href="/admin/home"><i class="material-icons-outlined">home</i></a>
                <a class="nav-link" href="/admin/sales-report-filter"><i class="material-icons-outlined">poll</i></a>
                <a class="nav-link" href="/admin/allProducts"><i class="material-icons-outlined">apps</i></a>
                <a class="nav-link" href="/admin/orders"><i
                        class="material-icons-outlined">shopping_cart</i></a>
                <a class="nav-link" href="/admin/category_management"><i class="material-icons-outlined">event</i></a>
            </nav>
        </div>
        <div class="mini-footer dark-mode">
            <a href="javascript:;" class="footer-icon dark-mode-icon">
                <i class="material-icons-outlined">dark_mode</i>
            </a>
        </div>
    </aside>
    