<!--start primary menu offcanvas-->

<div class="offcanvas offcanvas-start w-260" data-bs-scroll="true" tabindex="-1" id="offcanvasPrimaryMenu">
    <div class="offcanvas-header border-bottom h-70">
       <h5 class="text-center text-primary">DigiCart</h5>
        <a href="javascript:;" class="primaery-menu-close" data-bs-dismiss="offcanvas">
            <i class="material-icons-outlined">close</i>
        </a>
    </div>
    <div class="offcanvas-body">
        <nav class="sidebar-nav">
            <ul class="metismenu" id="sidenav">


                <li>
                    <a href="" class="">
                        <div class="parent-icon"><i class="material-icons-outlined">shopping_bag</i>
                        </div>
                        <div class="menu-title">eCommerce</div>
                    </a>
                    <ul>
                        <li><a href="/admin/sales-report-filter"><i class="material-icons-outlined">arrow_right</i>
                                Sales Report</a>
                        </li>
                        <li><a href="/admin/category_management"><i
                                    class="material-icons-outlined">arrow_right</i>Category Management</a></li>


                        <li><a href="/admin/allProducts"><i class="material-icons-outlined">arrow_right</i>Products</a>
                        </li>
                        <li><a href="/admin/userlist"><i class="material-icons-outlined">arrow_right</i>Customers</a>
                        </li>
                        <li><a href="/admin/all-coupon"><i class="material-icons-outlined">arrow_right</i>Coupons</a>
                        </li>
                        <li><a href="/admin/orders"><i class="material-icons-outlined">arrow_right</i>Orders</a>
                        </li>
                        <li><a href="/admin/offers"><i class="material-icons-outlined">arrow_right</i>Offer
                                Management</a>
                        </li>
                    </ul>
                </li>



            </ul>
        </nav>
    </div>

</div>

<!--ADMIN PROFILE LOGO -->

<!--start user details offcanvas-->
<div class="offcanvas offcanvas-start w-260" data-bs-scroll="true" tabindex="-1" id="offcanvasUserDetails">
    <div class="offcanvas-body">
        <div class="user-wrapper">
            <div class="text-center p-3 bg-light rounded">
                <img src="assets/images/avatars/01.png" class="rounded-circle p-1 shadow mb-3" width="120" height="120"
                    alt="">
                <h5 class="user-name mb-0 fw-bold">Sofia Maria</h5>
                <p class="mb-0">Administrator</p>
            </div>
            <div class="list-group list-group-flush mt-3 profil-menu fw-bold">


                <a href="/admin/home" class="list-group-item list-group-item-action d-flex align-items-center gap-2"><i
                        class="material-icons-outlined">dashboard</i>Dashboard</a>

                <a href="/admin/logout"
                    class="list-group-item list-group-item-action d-flex align-items-center gap-2 border-bottom"><i
                        class="material-icons-outlined">power_settings_new</i>Logout</a>
            </div>
        </div>

    </div>
    <div class="offcanvas-footer p-3 border-top">
        <div class="text-center">
            <button type="button" class="btn d-flex align-items-center gap-2" data-bs-dismiss="offcanvas"><i
                    class="material-icons-outlined">close</i><span>Close Sidebar</span></button>
        </div>
    </div>
</div>