<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot OTP</title>
    <link rel="stylesheet" href="/userAssets/forgotPass.css">
</head>

<body>
    <div class="container">
        <h1>Forgot Password</h1>
        <p>Please enter your registered email address to receive a reset OTP.</p>

        <form id="otpForm" action="/forgotpassword" method="post">

                <input type="email" id="email" placeholder="Enter your email" name="email" required>
                <button type= "submit" > Send OTP </button>
               
                <button type="submit"><a href="/" style="text-decoration: none; color: white;">Go back to home </a></button>
                
        </form>

    </div>
   
</body>

</html>


