<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="/userAssets/resetPassword.css">
</head>

<body>
    <div class="container">
        <div class="reset-password-box">
            <h2>Reset Password</h2>
        <% if(resetData != null) {%>
            <form >
          
                <div class="input-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" value="<%=resetData.name%>" readonly>
                </div>
                <div class="input-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" value="<%=resetData.email%>" readonly>
                </div>
                <div class="input-group">
                    <label for="newPassword">New Password</label>
                    <input type="password" id="newPassword" name="newPassword" 
                        placeholder="password should be need 6 length" required>
                        
                     <span style="color: #0d02db;font-size: 13px;">
                        Password Should Contain Both alphabets and numbers </span>   
                </div>
                <div class="input-group">
                    <label for="confirmPassword">Confirm Password</label>
                    <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Re-enter password" required>
                </div>
                <button type="button" class="submit-button" 
                    onclick="ResetPassword('<%=resetData._id%>')">Reset Password</button>               
            </form>
    <% } %>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="assets/js/digiCart/resetPass.js"></script>
</body>

</html>