<%- include('../layouts/adminLayout/header.ejs')%>

    <!--authentication-->
 <body class="bg-login">
    <div class="container-fluid my-5">
        <div class="row">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5 col-xxl-4 mx-auto">
                <div class="card rounded-4">
                    <div class="card-body p-5">
                        <h2 style="color: rgb(28, 28, 223);" class="text-center">Digicart</h2>
                        <hr class="w-5">
                        <h4 class="fw-bold">Welcome, admin</h4>
                        <p class="mb-0">Enter your credentials to login to your account</p>

                        <div class="form-body my-4">

                            <form class="row g-3" action="/admin" method="post">
                                    <div class="col-12">
                                        <label for="inputEmailAddress" class="form-label">Email</label>
                                        <input type="email" class="form-control" id="inputEmailAddress"
                                            placeholder="jhon@example.com" name="email" required>
                                    </div>
                                    <div class="col-12">
                                        <label for="inputChoosePassword" class="form-label">Password</label>
                                        <div class="input-group" id="show_hide_password">
                                            <input type="password" class="form-control border-end-0"
                                                id="inputChoosePassword" placeholder="Enter Password" name="password" required>
                                            <a href="javascript:;" class="input-group-text bg-transparent"><i
                                                    class="bi bi-eye-slash-fill"></i></a>
                                        </div>
                                    </div>
                                   
                                    <div class="col-12">
                                        <div class="d-grid">
                                            <button type="submit" class="btn btn-primary">Login</button>
                                        </div>
                                       
                                    </div>
                                    <div class="col-12">
                                        
                                    </div>
                            </form>
                        </div>

                        <div class="separator section-padding">
                            <div class="line"></div>
                          
                            <div class="line"></div>
                        </div>  

                    </div>
                </div>
            </div>
        </div><!--end row-->
    </div>

    <!--authentication-->